<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <title>Meadowlark travel</title>     
        {{!-- <img src="/img/logo.png" alt="ice cube"> --}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>